<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CenturyLink_ArcApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CenturyLink_ArcApp.Properties.Settings>
            <setting name="Qual_Server" serializeAs="String">
                <value>neisl01pdb.corp.intranet</value>
            </setting>
            <setting name="Qual_INSTANCE" serializeAs="String">
                <value>sde:oracle11g:UNIQUAL_PROD</value>
            </setting>
            <setting name="AUTHENTICATION_MODE" serializeAs="String">
                <value>DBMS</value>
            </setting>
            <setting name="Qual_DATABASE" serializeAs="String">
                <value>neisl01pdb</value>
            </setting>
            <setting name="Qual_USER_SWGISLOC" serializeAs="String">
                <value>SWGISLOC</value>
            </setting>
            <setting name="Qual_PASSWORD_SWGISLOC" serializeAs="String">
                <value>CtlSwGis2020</value>
            </setting>
            <setting name="VERSION" serializeAs="String">
                <value>sde.DEFAULT</value>
            </setting>
            <setting name="Qual_PORT" serializeAs="String">
                <value>1533</value>
            </setting>
            <setting name="TempFilesPath" serializeAs="String">
                <value>C:\CenturyLink\</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\CenturyLink\</value>
            </setting>
            <setting name="RoadsTableName" serializeAs="String">
                <value>SWTOMLOC.GDT_RD</value>
            </setting>
            <setting name="ServicePolygonOutput" serializeAs="String">
                <value>QUAL_SCHEMA.SERVICE_QUALIFICATION_MODEL</value>
            </setting>
            <setting name="DeadDesignationsFileName" serializeAs="String">
                <value>DeadDesignations.txt</value>
            </setting>
            <setting name="WirecenterBoundaryName" serializeAs="String">
                <value>SWGISLOC.GIS_LOCAL_CL_WIRE_CENTER</value>
            </setting>
            <setting name="Nobuild" serializeAs="String">
                <value>QUAL_SCHEMA.NOBUILD</value>
            </setting>
            <setting name="Parcels" serializeAs="String">
                <value>SWGISLOC.PARCELS_NATIONAL</value>
            </setting>
            <setting name="LNDAddress" serializeAs="String">
                <value>SWGISLOC.GIS_LOCAL_LND_ADDRESS_LOC</value>
            </setting>
            <setting name="InputPointTypes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ConsiderTerminal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConiderTerminalPin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConsiderLivingUnits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CopperLineofCountTable" serializeAs="String">
                <value>SWGISLOC.COPPER_LINE_OF_COUNT</value>
            </setting>
            <setting name="MAT_SheatWLOCTerminal" serializeAs="String">
                <value>SWGISLOC.MATR_SHEATH_LOC_TERM_LOC102</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LU_Latlong" serializeAs="String">
                <value>LU_LATLON</value>
            </setting>
            <setting name="Overlap_TerminalsonRoads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ODSDEV_Server" serializeAs="String">
                <value>DWODS02PDB.qintra.com</value>
            </setting>
            <setting name="ODSDEV_INSTANCE" serializeAs="String">
                <value>sde:oracle11g:ODS_PROD</value>
            </setting>
            <setting name="ODSDEV_DATABASE" serializeAs="String">
                <value>ODS_PROD</value>
            </setting>
            <setting name="ODSDEV_USER" serializeAs="String">
                <value>ODSVIEW</value>
            </setting>
            <setting name="ODSDEV_PASSWORD" serializeAs="String">
                <value>ODS4View2019</value>
            </setting>
            <setting name="ODSDEV_PORT" serializeAs="String">
                <value>1523</value>
            </setting>
            <setting name="FiberBufferArea" serializeAs="String">
                <value>0.000100</value>
            </setting>
            <setting name="MAT_SHEATH_WITH_LOC_PIN" serializeAs="String">
                <value>SWGISLOC.MAT_SHEATH_WITH_LOC_PIN</value>
            </setting>
            <setting name="sheath_splice" serializeAs="String">
                <value>SWGISLOC.SHEATH_SPLICE</value>
            </setting>
            <setting name="SHEATH_WITH_LOC_TERMINAL" serializeAs="String">
                <value>SWGISLOC.SHEATH_WITH_LOC_TERMINAL</value>
            </setting>
            <setting name="SQM_WORKFLOW" serializeAs="String">
                <value>QUAL_SCHEMA.SQM_WORKFLOW</value>
            </setting>
            <setting name="SitesandJobs" serializeAs="String">
                <value>gpon_dev.sitesandjobs@gpon_prod_link</value>
            </setting>
            <setting name="GPON_OC_ONT_SUMMARY" serializeAs="String">
                <value>GPON.GPON_OC_ONT_SUMMARY_V@GPON_PROD_LINK</value>
            </setting>
            <setting name="Livingunits" serializeAs="String">
                <value>SWGISLOC.LIVING_UNITS</value>
            </setting>
            <setting name="mit_terminal_enclosure" serializeAs="String">
                <value>SWGISLOC.mat_mit_terminal_enclosure</value>
            </setting>
            <setting name="MIT_CABLE" serializeAs="String">
                <value>SWGISLOC.MIT_CABLE</value>
            </setting>
            <setting name="sheath_with_loc" serializeAs="String">
                <value>swgisloc.sheath_with_loc</value>
            </setting>
            <setting name="Qual_User_Qualschema" serializeAs="String">
                <value>QUAL_SCHEMA</value>
            </setting>
            <setting name="Qual_Password_QualSchema" serializeAs="String">
                <value>CtlQual2020</value>
            </setting>
            <setting name="SETTING" serializeAs="String">
                <value />
            </setting>
        </CenturyLink_ArcApp.Properties.Settings>
    </userSettings>
</configuration>