<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DbLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DbLibrary.Properties.Settings>
            <setting name="qual_Server" serializeAs="String">
                <value>racorad30-scan.test.intranet</value>
            </setting>
            <setting name="qual_INSTANCE" serializeAs="String">
                <value>sde:oracle11g:neisl01t_19</value>
            </setting>
            <setting name="AUTHENTICATION_MODE" serializeAs="String">
                <value>DBMS</value>
            </setting>
            <setting name="qual_DATABASE" serializeAs="String">
                <value>neisl01t_19</value>
            </setting>
            <setting name="USER_SWGISLOC" serializeAs="String">
                <value>SWGISLOC</value>
            </setting>
            <setting name="PASSWORD_SWGISLOC" serializeAs="String">
                <value>CtlSwGis2020</value>
            </setting>
            <setting name="VERSION" serializeAs="String">
                <value>sde.DEFAULT</value>
            </setting>
            <setting name="Qual_PORT" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="USER_QS" serializeAs="String">
                <value>qual_schema</value>
            </setting>
            <setting name="PASSWORD_QS" serializeAs="String">
                <value>CtlQual2020</value>
            </setting>
            <setting name="RunMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lqmartinServer" serializeAs="String">
                <value>racorad09-scan.test.intranet</value>
            </setting>
            <setting name="lqmartinDatabase" serializeAs="String">
                <value>lqdb002d_18</value>
            </setting>
            <setting name="lqmartinUserID" serializeAs="String">
                <value>up2date</value>
            </setting>
            <setting name="lqmartinPassword" serializeAs="String">
                <value>lqma1n01</value>
            </setting>
            <setting name="lqPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="lqLfacsServer" serializeAs="String">
                <value>racorad09-scan.test.intranet</value>
            </setting>
            <setting name="lqLfacsDatabase" serializeAs="String">
                <value>lqdw001_18</value>
            </setting>
            <setting name="lqLfacsUserID" serializeAs="String">
                <value>up2date</value>
            </setting>
            <setting name="lqLfacsPassword" serializeAs="String">
                <value>lqma1n01</value>
            </setting>
        </DbLibrary.Properties.Settings>
    </userSettings>
</configuration>